/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color:purple;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin-bottom: 10px;
  }
  
  header p {
    margin-bottom: 20px;
  }
  
  .team {
    margin-top: 40px;
  }
  
  .team h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .team-member {
    width: 200px;
    margin: 0 20px 20px;
    text-align: center;
  }
  
  .team-member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .team-member p {
    margin-top: 10px;
  }
  
  footer {
    background-color:purple;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  